{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}IMPRINT - новости, статьи, блог на каждый день{% endblock %}
{% block description %}IMPRINT - это интернет-издание ориентированное на освещение новостей, публикацию блогов и статей.{% endblock %}
{% block content %}
  {% if search %}
    <div class="col-md-12">
      <h2>Результаты для: "{{ q }}"</h2>
    </div>
  {% elif tag %}
    <div class="col-md-12">
      <h2 class="text-capitalize">{{ tag }}</h2>
    </div>
  {% endif %}
  {% for post in page_obj %}
    <div class="post col-xl-6">
        <div class="post-thumbnail">
            <a href="{{ post.get_absolute_url }}">
                <img src="{{ post.cover.url }}" alt="Обложка поста" class="img-fluid">
            </a>
        </div>
        <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
                <div class="date meta-last">{{ post.created|date:'j E, Y' }}</div>
                <div class="category">
                  {% for tag in post.tags.all|slice:':2' %}
                    <a href="{% url 'post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                  {% endfor %}
                </div>
            </div> 
            <a href="{{ post.get_absolute_url }}">
            <h3 class="h4">{{ post.title|truncatewords:8 }}</h3></a>
           <!--  <p class="text-muted" style="margin-top: -20px;">{{ post.body|truncatewords:30|safe }}</p> -->
            <div class="post-footer d-flex align-items-center">
                <a href="#" class="author d-flex align-items-center flex-wrap">
                  <div class="avatar" style="min-width: 50px;max-width: 50px;height: 50px;"><img src="{{ post.author.profile_image.url }}" alt="Фото профиля" class="img-fluid"></div>
                  <div class="title" style="font-weight: 600;"><span>{{ post.author.get_full_name }}</span></div>
                </a>
                <div class="views"><i class="icon-eye"></i> {{ post.views.all|length }}</div>
                <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comments.all|length }}</div>
            </div>
        </div>
    </div>
  {% empty %}
    <div class="post col-xl-6">
      <h2>Ничего не найдено.</h2>
    </div>
  {% endfor %}
  <div class="col-xl-6">
    {% include 'blog/pagination.html' %}
  </div>
{% endblock %}

{% block scripts %}
<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7200115763252192"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-5y+cq+40-dx+5y"
     data-ad-client="ca-pub-7200115763252192"
     data-ad-slot="8371906588"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> -->
{% endblock %}