{% extends "blog/base.html" %}
{% block title %}My Blog{% endblock %}
{% block content %}
    <h1>My Blog</h1>
    {% if tag %}
        <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}
    {% for post in posts %}
        <p class="tags">Tags: {{ post.tags.first }}</p>
        <h2>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|truncatewords:30|linebreaks }}
        {{ post.author.profile_image.url }}
        {{ post.author.user.username }}
    {% endfor %}
    {% include "blog/pagination.html" with page=posts %}
    <form action="{% url 'search' %}" method="get">
      <input name="q" type="text" placeholder="Search...">
    </form>
{% endblock %}

<div class="post col-xl-6">
    <div class="post-thumbnail">
        <a href="post.html">
            <img src="img/blog-post-4.jpeg" alt="..." class="img-fluid">
        </a>
    </div>
    <div class="post-details">
      <div class="post-meta d-flex justify-content-between">
        <div class="date meta-last">20 May | 2016</div>
        <div class="category"><a href="#">Business</a></div>
      </div><a href="post.html">
        <h3 class="h4">Alberto Savoia Can Teach You About Interior</h3></a>
      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
      <div class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
          <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid"></div>
          <div class="title"><span>John Doe</span></div></a>
        <div class="date"><i class="icon-clock"></i> 2 months ago</div>
        <div class="comments meta-last"><i class="icon-comment"></i>12</div>
      </div>
    </div>
</div>